* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/camouflage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: system-ui;
  height: 100%;
}
#container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header {
  margin: 30px;
  text-align: center;
  background: linear-gradient(yellowgreen, green);
  padding: 30px;
  border-radius: 20px;
}
#home {
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 15%;
  margin-inline-start: 30px;
}
#home:hover {
  background-color: gray;
}
a {
  text-decoration: none;
}
#explanation {
  background: linear-gradient(powderblue, lightyellow);
  width: 90%;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
}
table {
  align-items: center;
}
table,
tr,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  margin: 20px;
  border-radius: 1px;
  margin: auto;
}
td,
td,
th {
  padding: 5px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

#tool {
  background-color: powderblue;
  width: 100%;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
}
#boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#alpha,
#morse {
  font-size: 150%;
  padding: 5px;
  margin: auto;
}
.button {
  padding: 10px;
  font-size: 130%;
}
.buttons {
}
.slidecontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  #container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1300px) {
  #boxes {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  #morse,
  #alpha {
    font-size: 100%;
  }
}
