body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

header {
  background-color: green;
  text-align: center;
  padding: 20px;
}



#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body{
  background-image: url(camouflage.jpg);
}

#explanation,
#tool {
  background-color: white;
  border-radius: 2%;
  padding: 20px;
  margin: 20px 0;
  max-width: 80%;
  box-sizing: border-box;
}

#explanation h2,
#tool h2 {
  text-align: center;
}

#explanation p,
#tool p {
  margin: 10px 0;
  text-align: center;
}

#boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#alpha,
#morse {
  font-size: 16px;
  padding: 10px;
}

.button {
  padding: 1%;
  font-size: 16px;
}

.slidecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  box-sizing: border-box;
}

.slidecontainer p {
  margin: 0;
}

#high {
  display:inline;
  background-color: #FFFF00;
}

#alpha, #morse {
  width:300px;
  height:100px;
  background:#cccccc;
  padding:15px;
  broder:3px solid blue;
}
#alpha:hover, #morse:hover {
  border:5px solid powderblue;
}

@media (min-width: 768px) {
  #container {
    flex-direction: row;
    justify-content: space-between;
  }
  #explanation, #tool {
    width: 48%;
  }
}

@media (max-width: 767px) {
  #explanation, #tool {
    width: 100%;
  }
}
